<head>
    <style type="text/css">
        .link{
            font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
            font-size: .75em;
            line-height: 1.5;
            display: block;
            margin-bottom: 5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            color: inherit;
}
    </style>
</head>

{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}

  <div class="sidebar sticky">
       <a href = "#introduce" ; class="link">实验室介绍</a>
      <a href = "#team" ; class="link">团队成员介绍</a>
      <a href = "#publications" ; class="link">出版物</a>
      <a href = "#projects" ; class="link">项目</a>
      <a href = "#awards" ; class="link">获奖</a>
      <a href = "#patents" ; class="link">知识产权</a>
      <hr/>
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
      <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">      
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
